<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>POLITIQUE DE CONFIDENTIALITÉ</ion-title>
  </ion-toolbar>
</ion-header>

<style>
  .box {
    background: rgba(79, 82, 247, 0.3);
    padding: 5%;
    border-radius: 10px;
  }

  div.transbox {
    margin-top: 3%;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    border-radius: 10px;
    /* For IE8 and earlier */
  }

  div.transbox p {
    margin: 5%;
    /* font-weight: bold; */
    color: #000000;
  }

  div.transbox li {
    margin: 5%;
    /* font-weight: bold; */
    color: #000000;
  }

  div.transbox h2 {
    margin: 5%;

  }
</style>

<ion-content padding>
  <div class="box">
    <h1>Politique de protection de la vie privée et des données personnelles</h1>
    <div class="transbox">
    <p>L’entreprise Outalma s’engage à protéger et à respecter votre vie privée et vos données personnelles. La présente
      politique de protection de la vie privée et des données personnelles a pour but d’expliquer la manière dont notre
      entreprise collecte et traite vos données personnelles.</p>

    <p>Notre entreprise prend les mesures nécessaires pour respecter le Règlement général sur la protection des données
      du 27 avril 2016, entré en vigueur le 25 mai 2018, ainsi que les lois nationales sur la vie privée et la
      protection des données.</p>
    </div>
    <div class="transbox">
      <h2>Qui traite vos données personnelles ?</h2>

      <p>Vos données sont collectées par Outalma par l’intermédiaire de notre prestataire de services d’hébergement et
        de maintenance de sites Web situé au sein de l’Union européenne.</p>

      <p>Le possesseur de vos données personnelles est Outalma, situé à l’adresse suivante : 8 Place Boulnois, 75017
        Paris.</p>
    </div>
    <div class="transbox">
      <h2>Quelles sont les données personnelles que nous collectons ?</h2>

      <p>Nous collectons automatiquement vos données de navigation, et votre adresse IP lorsque vous consultez notre
        site
        Web.</p>

      <p>Nous collectons également des données personnelles telles que vos nom, prénom, adresse électronique, numéro de
        téléphone, adresse lorsque vous choisissez de nous les fournir volontairement en utilisant notre formulaire
        d’inscription ou en effectuant une demande de livraison.</p>
    </div>
    <div class="transbox">
      <h2>Quand collectons-nous vos données personnelles ?</h2>

      <p>Nous collectons les données personnelles que vous nous fournissez volontairement quand :</p>
      <ol>
        <li>vous utilisez le formulaire d’inscription ;</li>
        <li>vous effectuez une demande de livraison.</li>
      </ol>
      <p>Nous vous informons que la collecte des informations que vous nous fournissez dans le formulaire d’inscription
        est nécessaire pour traiter votre demande.</p>
    </div>
    <div class="transbox">
      <h2>Quel est le cadre légal du traitement de vos données personnelles ?</h2>

      <p>Le traitement de vos données personnelles est basé sur votre consentement, donné lors de votre inscription et
        lors du traitement de vos demandes.</p>

      <p>Lorsque nous traitons les données de navigation et l’adresse IP, le traitement des données personnelles est
        basé
        sur notre intérêt légitime à consulter des statistiques sur l’utilisation de notre site Web.</p>
    </div>
    <div class="transbox">
      <h2>Comment utilisons-nous vos données personnelles ?</h2>

      <p>Nous utilisons les données personnelles collectées aux fins suivantes :</p>

        <li>traitement de vos demandes</li>
        
    </div>
    <div class="transbox">
      <h2>Collecte et utilisation des cookies</h2>

      <p>Nous utilisons et collectons des cookies de l’utilisateur de notre site Web. Veuillez consulter notre politique
        en matière de cookies pour en savoir plus.</p>
    </div>
    <div class="transbox">
      <h2>Qui sont les destinataires de vos données personnelles ?</h2>

      <p>Vos données personnelles, qui sont collectées directement par Outalma ou par l’intermédiaire de ses
        prestataires
        de services de maintenance et d’hébergement de sites Web situés au sein de l’Union européenne, sont destinées
        exclusivement à l’usage d’Outalma.</p>

      <p>Aucune communication à d’autres tiers ou entreprises n’est envisagée sans l’accord préalable de l’utilisateur,
        à
        l’exception des communications et divulgations obligatoires pour satisfaire aux exigences légales et
        réglementaires, ou à la demande légitime et fondée d’une administration ou d’une autorité judiciaire.</p>
    </div>
    <div class="transbox">
      <h2>Où vos données personnelles sont-elles conservées ?</h2>

      <p>Vos données personnelles sont conservées soit dans nos bases de données, soit dans celles de nos prestataires
        de
        services qui sont situés au sein de l’Union européenne. Nos prestataires de services ne traiteront pas vos
        données
        personnelles.</p>
    </div>
    <div class="transbox">
      <h2>La sécurité de vos données personnelles</h2>

      <p>Nous prenons toutes les mesures nécessaires pour empêcher, dans la mesure du possible, toute modification ou
        perte de vos données personnelles et/ou tout accès non autorisé à celles-ci.</p>
    </div>
    <div class="transbox">
      <h2>Quelle est la durée de conservation de vos données personnelles ?</h2>

      <p>Les données personnelles collectées via ce site Web sont conservées pendant une période qui n’excède pas la
        durée
        nécessaire à la finalité pour laquelle elles ont été collectées. Les données collectées via ce site Web sont
        conservées pendant 3 ans au maximum.</p>
    </div>
    <div class="transbox">
      <h2>Quels sont vos droits en ce qui concerne vos données personnelles ?</h2>

      <p>Conformément au Règlement général sur la protection des données du 27 avril 2016, vous avez un droit d’accès,
        de
        rectification, d’effacement ou d’opposition à l’utilisation de vos données personnelles. En outre, vous avez le
        droit de demander la limitation du traitement ou de la transférabilité des données.</p>

      <p>Conformément au règlement général sur la protection des données du 27 avril 2016, vous avez le droit de déposer
        une réclamation auprès des autorités nationales compétentes en matière de protection des données.</p>
    </div>
  </div>
</ion-content>