.successalt{
    background-color: aquamarine;
}
:host{
      .star{
        font-size: 3rem;
        color: rgb(219, 218, 218);
      }
      .filled {
        color: Yellow;
      }
      .bad {
        color: rgb(219, 218, 218);
      }
      .filled.bad {
        color: yellow;
      }
}