<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>POLITIQUE EN MATIÈRE DE COOKIES</ion-title>
  </ion-toolbar>
</ion-header>
<style>
  .box {
    background: rgba(79, 82, 247, 0.3);
    padding: 5%;
    border-radius: 10px;
  }

  div.transbox {
    margin-top: 3%;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
    border-radius: 10px;
    /* For IE8 and earlier */
  }

  div.transbox p {
    margin: 5%;
    /* font-weight: bold; */
    color: #000000;
  }
  div.transbox li {
    margin: 5%;
    /* font-weight: bold; */
    color: #000000;
  }

  div.transbox h2 {
    margin: 5%;

  }
</style>

<ion-content padding>
  <div class="box">
      <div class="transbox">
    <p>La présente politique relative aux cookies complète notre politique de confidentialité et de protection des
      données personnelles. Elle vous permet de configurer vos cookies et d’en savoir plus sur vos droits, ainsi que sur
      l’origine et l’utilisation des informations de navigation traitées lors de votre visite sur notre site.</p>
    </div><div class="transbox">
    <h2>Qu’est-ce qu’un cookie ?</h2>


    <p>Lors de votre visite sur notre site Internet, un cookie peut s’installer automatiquement sur votre appareil via
      votre navigateur.</p>

    <p>Un cookie est un fichier texte généré et enregistré par le serveur d’un site Internet que vous consultez
      directement sur le navigateur de votre appareil (ordinateur, smartphone ou autre type d’appareil). Un cookie
      permet à ce site Internet de reconnaître le navigateur de votre appareil lors d’une nouvelle connexion à partir du
      même appareil. Un cookie contient le nom du serveur qui l’a déposé, un identifiant (un numéro unique) et une date
      d’expiration.</p>
    </div><div class="transbox">
    <h2>Quels cookies utilise Outalma sur ce site Internet ?</h2>
   
      <li>Cookies nécessaires sur le plan technique</li>
   
    <p>Ce type de cookie vise uniquement à faciliter la navigation sur notre site Internet, en permettant une
      utilisation optimale des différentes fonctions et fonctionnalités disponibles.</p>

    <p>Notre site Internet contient 17 cookies nécessaires techniquement.</p>
   
      </div><div class="transbox">
      <h2>Quel est le but des cookies que nous collectons ?</h2>

      <p>Les cookies ont pour but de garantir le bon fonctionnement de notre site Internet.</p>
    </div><div class="transbox">
      <h2>Qui utilise les informations collectées par le biais de ces cookies ?</h2>

      <p>L’entreprise Outalma peut accéder aux données collectées via les cookies et les utiliser.</p>
    </div><div class="transbox">
      <h2>Quelle est la durée de conservation de ces cookies ?</h2>

      <p>Les cookies sont conservés pendant douze mois au maximum.</p>
    </div><div class="transbox">

      <h2>Vos données personnelles collectées via des cookies sont-elles transférées vers d’autres pays ?</h2>

      <p>Non, les données collectées via des cookies ne sont pas transférées vers d’autres pays.</p>
    </div><div class="transbox">
      <h2>Comment activer ou désactiver les cookies ?</h2>

      <p>Vous pouvez configurer votre logiciel de navigation pour accepter ou refuser l’enregistrement de cookies sur
        votre appareil.</p>

      <p>Chaque navigateur possède ses propres outils de configuration de gestion des cookies. Le menu d’assistance de
        votre navigateur vous permettra de savoir comment modifier vos paramètres de cookies.</p>

      <p>Outalma décline toute responsabilité quant aux conséquences liées à un mauvais fonctionnement de son site
        Internet et de ses fonctionnalités si vous refusez l’enregistrement de cookies sur votre appareil ou si vous
        supprimez ceux qui sont enregistrés.</p>

      <p>Veuillez-vous reporter à notre politique de confidentialité et de protection des données personnelles si vous
        souhaitez obtenir plus d’informations sur la protection de vos données personnelles.</p>
        </div>
  </div>
</ion-content>