

hr {
    //border: 2px solid red !important;
    height: 3px !important;
    width: 100% !important;
    background: #ABB1B6 !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  .bg-dark-blue{
    background-color: #333986;
    // padding-top: 2vh;
    // padding-bottom: 2vh;
  }
  
  .outalma-title{
    color: white;
    float:left;
    margin-left: -2vh;
    margin-top: 1vh;
  }
  
  .logo {
    height: 5vh;
    margin-left:-4vh;
    float:left;
    overflow: hidden;
  }
  
  .choix {
    height:5vh;
    margin-bottom:5vh;
  }