<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Modifier mon mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isAuth" padding class="bg">
  <form [formGroup]="authForm" >
    <ion-item>
      <ion-label><ion-icon name="call"></ion-icon>&nbsp;<ion-icon name="add"></ion-icon></ion-label>
      <ion-input placeholder="ex : 33123456789" type="number" formControlName="phoneNumber" clearInput></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label><ion-icon ios="ios-unlock" md="md-unlock"></ion-icon></ion-label>
      <ion-input autocomplete="false" [formControl]="password" id="password" type="{{passwordtype}}" required placeholder="Password *"></ion-input>
      <button ion-button fill="clear" class="eye-icon-btn" type="button" item-right (click)="managePassword()">
        <ion-icon name="{{passeye}}"></ion-icon></button>
    </ion-item>
    <ion-item >
      <ion-label><ion-icon ios="ios-unlock" md="md-unlock"></ion-icon></ion-label>
      <ion-input autocomplete="false" [formControl]="password2" id="password2" type="{{passwordtype2}}" required placeholder="Confirm Password *"></ion-input>
      <button ion-button fill="clear" class="eye-icon-btn" type="button" item-right (click)="managePassword2()">
        <ion-icon name="{{passeye2}}"></ion-icon></button>
    </ion-item> 
      <ion-item >
        <ion-label><ion-icon name="calendar"></ion-icon></ion-label>
          <ion-input placeholder="Date de naissance" type="date" formControlName="Date"  required clearInput></ion-input>
          
    </ion-item> -->
  <div id="recaptcha-container" ></div>

  </form>
</ion-content>

<ion-toolbar color="primary">
  <ion-button expand="block" type="submit" (click)="signIn();show = !show">Modifier mon mot de passe</ion-button>
  
</ion-toolbar>
