.tab-button-item-active{
    color: #454EB2;
  }

//   .activated {
//     background-color: green;
//  }  
  .color-white{
      color: white;
  }
  .tab-btn-selected, .tab-btn:hover {
    color: var(–color-selected);
    }
    #notifications-badge {
      background-color: red;
      position: relative;
      top: -6px;
      right: 6px;
      border-radius: 200%;
      
  }
    
hr {
  //border: 2px solid red !important;
  height: 3px !important;
  width: 100% !important;
  background: #ABB1B6 !important;
  display: block !important;
  font-size: 2em !important;
  opacity: 1 !important;
  visibility: visible !important;
}
.bg-dark-blue{
  background-color: #333986 !important;
  // padding-top: 2vh;
  // padding-bottom: 2vh;
}

.outalma-title{
  color: white;
  float:left;
  margin-left: -2vh;
  margin-top: 1vh;
}

.logo {
  height: 5vh;
  margin-left:-4vh;
  float:left;
  overflow: hidden;
}

.choix {
  height:5vh;
  margin-bottom:5vh;
}

:host {
  ion-split-pane.split-pane-visible > .split-pane-side {
    max-width: 270px !important;
  }

  .avatar-circle {
    width: 100px;
    height: 100px;
    background-color: black;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .initials {
    position: relative;
    top: 25px; /* 25% of parent */
    font-size: 50px; /* 50% of parent */
    line-height: 50px; /* 50% of parent */
    color: #fff;
    font-family: "Courier New", monospace;
    font-weight: bold;
  }
  
  
  
  


  ion-menu {
    .profile {
      background: var(--ion-color-primary);
    
      ion-avatar {
        width: 84px;
        height: 84px;
        margin: 0 auto;
      }
    
      h5, p {
        color: #fff;
      }
    }
  }
}