:host{
    .faux{
       color:red
    }

    .eye-icon-btn{
        background-color: transparent !important;
        color: black;
        font-size: 2.2rem !important;
    }
    .buttoneye{
        color :  #333986 !important;
        background:  none !important;
      }
}